@model Pdi_Car_Rent.Areas.Identity.Data.MainAdminModel
@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList List = new SelectList(ViewBag.Users, "Id", "UserName");
    SelectList RoleList = new SelectList(ViewBag.UserRoles, "Id", "Name");
}
<div class="card text-white bg-dark mt-5 my-5 mx-auto opacity-card" style="width: 25rem;">
    <div class="card-body">
        <h3 class="card-title">Zarządzanie Rolami</h3>
        <div class="row">
            <div class="col-sm">
                <form asp-action="AdminPanel">
                    <div class="form-group my-3">
                        <label asp-for="RoleModel.User.UserName" class="control-label mr-5 my-3"></label>
                        <select asp-items="@(List)"
                                class="form-control" asp-for="RoleModel.User.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                        <label asp-for="RoleModel.Role.RoleName" class="control-label mr-5 ml-2 my-3"></label>
                        <select asp-items="@(RoleList)"
                                class="form-control" asp-for="RoleModel.Role.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Zmień" class="btn btn-secondary" onclick="Model.roleAction=true"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Zarządzanie Adminami Wypożyczalni</h3>
        <div class="row">
            <div class="col-sm">
                <form asp-action="AdminPanelRentPlace">
                    <div class="form-group my-3">
                        <label asp-for="RoleModel.User.UserName" class="control-label mr-5 my-3"></label>
                        <select asp-items="@(List)"
                                class="form-control" asp-for="RoleModel.User.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                        <label asp-for="RentPlaceModel.CarRentPlace.PlaceName" class="control-label mr-5 ml-2 my-3"></label>
                        <select asp-items="@(RoleList)"
                                class="form-control" asp-for="RentPlaceModel.CarRentPlace.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Przydziel" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>